<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <title>مهد کودک ماه مهر</title>
  <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Vazirmatn&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    مهد کودک ماه مهر
  </header>

  <div class="login-box">
    <h3>ورود والدین</h3>
    <form method="POST">
      {% csrf_token %}
      <input type="text" name="username" placeholder="نام کاربری" required>
      <input type="password" name="password" placeholder="رمز عبور" required>
      <button type="submit">ورود</button>
      {% if error %}
  <p style="color:red;">{{ error }}</p>
{% endif %}

    </form>
  </div>

</body>
</html>

